//Variables
$primary: #5265E1;
$secondary: #FA5959;
$n_active: gray;
$color-button-nav-login: white;
$font-page: 'Cabin', sans-serif;
$padding-extension: 5rem;

body{
    height: 100%;
    width: 100%;
}

.mobile-content1 {
    display: none !important;
}

// Mobile Devices responsive
@media only screen and (max-width: 600px) {
    body {
        text-align: center !important;
    }
    .mobile-content1 {
        display: block !important;
        padding-bottom: 10rem !important;
        text-align: left !important;
    }

    .web-content1 {
        display: none !important;
    }

    .navbar .navbar-nav {
        display: inline-block !important;
        float: none !important;
        vertical-align: top !important;
        padding: 3rem !important;
      }
      
    .navbar .navbar-collapse {
        text-align: center !important;
    }

    .background-form-right {
        height: 10rem !important;
    }
    
    .background-form-left {
        height: 7rem !important;
        text-align: start !important;
    }

    .features-cols {
        padding-bottom: 6rem !important;
        text-align: left !important;
    }

    .features-sections {
        padding-top: 15rem !important; 
    }

    #features > .nav-item {
        padding: 5rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.5rem !important;
    }

    #extension-firefox, #extension-opera {
        padding-top: 0 !important;
    }
    
}
// Pads Devices responsive
@media only screen and (max-width: 840px) {

    body {
        text-align: center !important;
    }

    .web-content1 {
        text-align: left !important;
    }

    .navbar .navbar-nav {
        display: inline-block !important;
        float: none !important;
        vertical-align: top !important;
        padding: 3rem !important;
      }
      
    .navbar .navbar-collapse {
        text-align: center !important;
    }

    .background-form-right {
        height: 10rem !important; 
    }
    
    .background-form-left {
        text-align: left !important;
    }
}

// Buttons style 
.btn-secondary:hover {
    background-color: white !important;
    color: $secondary !important;
    border-color: $secondary !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: $primary !important;
}

.nav-buttons:hover {
    color: $secondary !important;
}

.footer-buttons:hover {
    color: $secondary !important;
}

// Nav style {

$navbar-padding-y: 5rem;
$navbar-padding-x: 1rem;

.img-logo {
    height: 2rem;
}
.btn {
    color: n_active !important;
    letter-spacing: 2.5px;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}
.btn-secondary, .btn-primary {
    color: $color-button-nav-login !important;
}

$btn-font-weight: bold;
$btn-padding-x: 2.0rem;
$btn-font-size: 0.9rem;
$btn-font-family: $font-page;

// }

// Main content-1 style {


.title-h1 {
    font-family: $font-page;
    font-weight: bold;
}

.text-styles {
    font-family: $font-page;
    color: gray;
}

.img-content {
    position: absolute;
}

.background-form-right {
    position: relative;
    width: 103%;
    height: 18rem; 
    background-color: rgba(82,102,223,255); 
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
}

.background-form-left {
    position: relative;
    width: 103%;
    height: 22rem; 
    background-color: rgba(82,102,223,255); 
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}
// }

// Main content-2 style {

    $nav-tabs-border-radius: none;
    $nav-tabs-border-color: none;
    $nav-link-color: $n_active;
    $nav-link-hover-color: $secondary; 
    $nav-tabs-link-hover-border-color: transparent;

    li > .active {
        font-family: $font-page;
        border: none !important;
        border-bottom: 5px solid $secondary !important;
        border-color: $secondary !important;
    }

    #features > .nav-item {
        padding: 1rem;
    }

    .features-sections {
        padding-top: 5rem; 
    }
// }

// Extension Style {

    .extensions div:nth-child(2n){
        padding-top: $padding-extension;
    }

    .extensions div:nth-child(3n){
        padding-top: $padding-extension + 4rem;
    }

// }

// Accordion Style {
    .accordion {
        font-family: $font-page;
    }

    $accordion-padding-x: 20%;
    $accordion-border-color: white;
    $accordion-icon-color: $primary;
    $accordion-button-focus-border-color: white;
    $accordion-button-focus-box-shadow: white;
    $accordion-button-active-color: black;
// }

// Footer Style {
    .footer {
        margin-top: 10rem;
        background-color: $primary;
        color: white;
        font-family: $font-page;
    }

    $form-feedback-font-style: $font-page;
    $form-feedback-margin-top: -0.3rem;
    $form-feedback-invalid-color: $secondary;
    .invalid-feedback {
        background-color: $secondary;
        color: white !important; 
    }

    .invalid-feedback > i {
        padding: 0.5rem;
    }


    .footer-enjoy {
        font-family: $font-page;
        letter-spacing: 0.3em;
        font-size: 0.8rem;
    }

    .footer-end {
        background-color: rgba(36,41,70,255);
        color: white;
    }

    .footer-buttons {
        background-color: transparent;
        border: none;
        font-family: $font-page;
        color: white !important;
        text-decoration: none;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 2px;
        
    }

    .footer-buttons:hover {
        color: $secondary;
    }
    
    
// }

// Import Bootstrap modules
@import 'node_modules/bootstrap/scss/bootstrap.scss';
// Import Google font module
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

